@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Pirata+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
  scroll-behavior: smooth;
}
/* 
.pirata-one-regular {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.nanum-gothic-regular {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}


*/
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
h2,
h3,
h4,
strong {
  font-family: "Pirata One", system-ui;
  font-weight: 600;
}
p {
  font-weight: 500;
}

.icon:hover{
  color: #a70000;
}
.btn {
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s;
  border: none;
  font-weight: 600;
}

.btn-primary {
  background-color: #a70000;
  color: #ffffff;
}
.btn-primary:hover {
  background-color: #670202;
}

.btn-dark {
  background-color: #000000;
  color: #ffffff;
}
.btn-dark:hover {
  background-color: #1c1c1c;
}

.btn-light {
  background-color: #ffffff;
  color: #000000;
}
.btn-light:hover {
  background-color: #c9c9c9;
}
.text-center {
  text-align: center;
}

.row {
  display: flex;
  justify-content: start;
  align-items: start;
}
.col {
  width: 50%;
  padding: 1rem;
}
.align-center {
  align-items: center !important;
}
/* ====================================== */

header {
  padding: 1rem;
  border-bottom: 1px solid #f2f2f2;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #fbfbfb;
}
header .brand {
  font-size: 30px;
  font-weight: 1000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .btn {
  font-weight: 600;
  font-size: 13px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 15px;
  transition: all 0.2s;
  margin: 0 10px;
  margin-left: auto;
}
header li {
  padding: 5px 0;
  margin: 0 5px;
}
header li:hover {
  border-bottom: 1px solid;
  /* text-decoration: underline; */
}

/* -------------------------------------------- */
.container {
  max-width: 1200px;
  margin: auto;
}
li {
  list-style: none;
}
/* -------------------------------------------- */
.hero {
  padding: 1rem;
  padding-top: 5rem;
  width: 100%;
  min-height: 100svh;
  align-content: center;
  background-color: #fbfbfb;
  z-index: 2;
}

.hero h1 {
  font-size: 50px;
  font-weight: 800;
}
.hero p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 10px;
  /* font-weight: 600; */
}
.hero ul li {
  margin: 10px 0;
  margin-bottom: 20px;
  position: relative;
  padding-left: 30px;
  font-weight: 600;
}
.hero ul li::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "\f560";
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
  /* padding: 5px; */
  vertical-align: middle;
  color: #a70000;
  /* background-color: #000000; */
}

.hero .btn {
  padding: 12px 25px;
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}
.hero .price {
  font-weight: 600;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}
.price span {
  font-size: 25px;
  font-weight: 800;
  color: #670202;
  font-family: Arial, Helvetica, sans-serif;
}
.price strong {
  font-weight: 400;
}

/* -------------------------------------------- */
.dark-div {
  background-color: #000000;
  padding: 1rem;
  min-height: 50px;
  color: #ffffff;
  text-align: center;
}
.dark-div h2 {
  font-size: 30px;
  font-weight: 400;
}
/* ---------------------------------- */
.importance {
  padding: 2rem 1rem;
  min-height: 300px;
  align-content: center;
}
.importance ul {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
}
.importance li {
  width: 30%;
  border: 2px solid #a70000;
  padding: 2rem 10px;
  border-radius: 15px;
  text-align: center;
}
.importance .icon {
  display: block;
  font-size: 30px;
  text-align: center;
  margin-bottom: 1rem;
  color: #a70000;
}
.importance h4 {
  margin-bottom: 10px;
  font-size: 20px;
}
.importance p {
  font-size: 15px;
  line-height: 1.5;
}
/* ------------------------------- */
.benefit {
  padding: 2rem 1rem;
  min-height: 350px;
  align-content: center;
}
.benefit h2 {
  font-size: 25px;
}
.benefit p {
  font-size: 16px;
  line-height: 1.7;
}
.benefit span {
  font-weight: 1000;
}
/* -------------------------------------------- */
.take {
  min-height: 200px;
  padding: 2rem 1rem;
  align-content: center;
  background-color: #f2f2f2;
}
.take h1 {
  font-size: 50px;
  text-align: center;
  font-family: "Pirata One", system-ui;
  color: #a70000;
}
.take .btn {
  font-size: 20px;
  display: flex;
  width: fit-content;
  margin: 10px auto;
}
/* -------------------------------------------- */
/* ------------------------------- */
footer {
  background-color: #000000;
  padding: 2rem 1rem;
  color: #ffffff;
}
/* .footer-logo{
    font-size: 25px;
    font-weight: 800;
  } */
  footer ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  footer .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
  }
  footer .copy {
    font-size: 13px;
    border-top: 1px solid #ffffff;
    padding-top: 20px;
    text-align: end;
    margin-top: 10px;
  }
  footer .copy a {
    text-decoration: underline;
    font-weight: 600;
    color: #ffffff;
  }
  footer .link{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  footer .link a{
    text-decoration: underline;
    font-size: 13px;
    color: #f2f2f2;
  }
/* ================================================== */
.close-modal {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}
.modal-container {
  display: none;
  width: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000002a;
  z-index: 11;
  align-content: center;
  padding-top: 2rem;
}
.modal {
  position: relative;
  max-width: 500px;
  background-color: #ffffff;
  padding: 2rem;
  margin: auto;
  border-radius: 10px;
}
.modal h2{
  color: #a70000;
}
.modal h6 {
  font-weight: 800 !important;
  font-size: 14px;
  margin: 1rem 0;
}
form {
  width: 100%;
}
.form-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.form-col {
  width: 48%;
  margin-bottom: 5px;
}
.form-col-1 {
  width: 100%;
}
label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
  color: #000000;
}
input {
  width: 100%;
  padding: 8px;
  outline: none;
  font-weight: 600;
  /* border: none; */
  border: 1px solid #a70000;
}
.modal .btn {
  font-size: 18px;
}

/* ============================================ */
@media (max-width: 768px) {
  .row{
    flex-direction: column;
  }
  .col {
    width: 100%;
  }
  /* .hero-img {
    display: none;
  } */
  .importance li {
    width: 65%;
    margin: 10px auto;
  }
}

@media (max-width: 668px) {
  .hero {
    min-height: 70svh;
  }
  .hero h1 {
    font-size: 30px;
  }
  .take h1 {
    font-size: 30px;
  }
  .price{
    flex-direction: column;
    justify-content: start !important;
    align-items: start !important;
    text-align: start;
    gap: 0px !important;
  }
}
@media (max-width: 468px) {
  .hero h1 {
    font-size: 25px;
  }
  .hero p {
    font-size: 18px;
  }
  .importance li {
    width: 100%;
    margin: 10px auto;
  }
  .form-col {
    width: 100%;
    margin-bottom: 5px;
  }
  .dark-div p {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  nav ul{
    gap: 5px;
  }
  nav .btn{
    padding: 8px 10px;
  }
  nav ul li a{
    font-size: 12px;
  }
  .brand img{
    width: 60px;
  }
}